<figure class="image"{% if include.style %} style="{{include.style}}"{% endif %}>
  <span stlye="width: 50%; float: left;">
    <a href="{{ "/assets/img/" | append: include.filename1 | absolute_url }}">
    <img src="{{ "/assets/img/" | append: include.filename1 | absolute_url }}" alt="{{ include.description1 | strip_html }}">
    </a>
  </span>
  <span stlye="width: 50%;">
    <a href="{{ "/assets/img/" | append: include.filename2 | absolute_url }}">
    <img src="{{ "/assets/img/" | append: include.filename2 | absolute_url }}" alt="{{ include.description2 | strip_html }}">
    </a>
  </span>
  <figcaption>{{ include.caption }}</figcaption>
</figure>
