.post {
  padding: 3rem 0;

  &-info {
    color: $default-tint;
    font-family: $serif-secondary;
    letter-spacing: 0.5px;
    text-align: center;
    margin-bottom: 1rem;

    span {
      font-style: italic;
    }
  }

  &-title {
    color: $default-shade;
    font-family: $sans-serif;
    font-size: 3rem;
    margin: 1rem 0;
    text-align: center;
  }

  &-line {
    border-top: 0.4rem solid $default-shade;
    display: block;
    margin: 0 auto 2rem;
    width: 4rem;
  }

  &-image {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }

  &-image img {
    max-width: 75%;
    border: .25rem solid $grey-2;
  }

  &-excerpt {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
  }

  p {
    margin: 0 0 1rem;
    text-align: justify;
  }

  a:hover {
    text-decoration: underline;
  }

  img {
    margin: 0 auto 0.5rem;
  }

  img + em {
    color: $default-tint;
    display: block;
    font-family: $sans-serif;
    font-size: 0.9rem;
    font-style: normal;
    text-align: center;
  }

  // CSS for making emoji inline
  img.emoji {
    display: inline-block;
    left: 0;
    transform: none;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
    padding: 0;
    margin: 0;
  }

  figure {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  figure img {
    max-width: 75%;
    border: .25rem solid $grey-2;
    display: inline-block;
    vertical-align: top;
  }

  figure a:hover {
    text-decoration: none;
  }

  figure.two_images img {
    max-width: 37%;
  }

  figure.three_images img {
    max-width: 24%;
  }

  figcaption {
    color: $default-tint;
    display: block;
    font-family: $sans-serif;
    font-size: 0.9rem;
    font-style: normal;
    margin-left: auto;
    margin-right: auto;
  }

  figcaption a {
    text-decoration: underline;
    color: $default-tint;
  }

  blockquote.nogray {
    color: $default-color;
  }

  .footnotes {
    /*
    border-top: 1px $grey-1 solid;
    padding-top: 2rem;
    margin-top: 2rem;
    */
    font-size: 0.9rem;
    color: $grey-0;
  }

}
