---
layout: default
---

<div class="post">
  <div class="post-info">
    <span>Written by</span>
    {% if page.author %}
        {{ page.author }}
    {% else %}
        {{ site.author.name }}
    {% endif %}

    {% if page.date %}
      <br>
      <span>on&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}
  </div>

  <h1 class="post-title">
    {% if page.draft %}
    DRAFT: 
    {% endif %}
    {{ page.title }}
  </h1>
  <div class="post-line"></div>

  <div class="post-image"{% if page.image.style %} style="{{ page.image.style }}"{% endif %}>
    <p>
      <a href="{{ "/assets/img/" | append: page.image.filename | absolute_url }}" title="{{page.image.alt}}">
        <img src="{{ "/assets/img/" | append: page.image.filename | absolute_url }}" alt="{{page.image.alt}}"{% if page.image.img_style %} style="{{ page.image.img_style }}"{% endif %} />
      </a>
    <em>{{page.image.caption}}</em></p>
  </div>

  {{ content }}

</div>

<div class="subscribe">
If you liked this post, subscribe to <a href="https://typesandtimes.substack.com/">my newsletter</a> to be notified when there's a new one. And follow me on <a href="https://fb.com/typesandtimes">Facebook</a> and <a href="https://twitter.com/typesandtimes">Twitter</a> as <span class="mono">typesandtimes</span>.
</div>


<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>
